ion-toggle {
    width: 100%;
}

.py-4 {
    padding: 0.3rem 0;
}

ion-input {
    input[type="file" i]::-webkit-file-upload-button {
        padding: 0.5rem 1rem !important;
        background: var(--primary-btn);
        background-color: var(--primary-btn) !important;
    }
}

.imgBox {
    .iconBox {}

    .textBox {}
}