.photo {
    display: flex;
    align-items: center;

    ion-avatar {
        img {
            padding: 5px;
            border: 2px solid green;
        }
    }

    .detail {
        margin-left: 10px;
    }
}

ion-card-content {
    ion-icon {
        margin-inline-end: 12px;
    }
}

.rating {
    cursor: pointer;
}

.updateBtn {
    display: flex;
    justify-content: space-evenly;
}

.d-flex {
    display: flex;
    gap: 0.5rem;
}


.vehicleIcon {
    font-size: 2rem;
}

.vehicleDetail {
    background: #e2f5ed;
    padding: 0.5rem;
    border: 1px solid #008955;
    border-radius: 15px;
}

.vehicleIconContainer {
    text-align: end;
}

.vehicle-btn {
    padding: 1rem;
    border: 1px solid #008955;
    border-radius: 12px;
    background: #e2f5ed;
    color: #008955;
    font-weight: bold;
}

.deletBtn {
    background: #008955;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
}

.stars ion-icon {
    font-size: 1rem;
    color: gray;
}