 .cancelBtn {
     width: fit-content;
     --box-shadow: none;
     position: absolute;
     right: 0.2rem;
     top: 0.2rem;
     z-index: 1;
 }


 .cancelBtn:focus-visible {
     --box-shadow: none;
 }

 ::ng-deep {

     .alertInvalidSeat,
     .alertNofieldChanged {
         --max-width: 355px;
     }
 }