// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --error-red: #DC2626;
    --primary-btn: #3573F0;
    --sky: #00aff5;
    --text-gray: #7EADB8;
    --success: #33A05E;
    --danger: #CC054D;
    --warning: ##ffc107;
}