<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password </ion-title>
    <ion-button slot="end" color="none" (click)="close()" class="shadow-none">
      <ion-icon name="close" color="dark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="loginArea ion-padding">
    <div class="loginItems">
      <ion-input label="Username" fill="outline" labelPlacement="stacked" placeholder="Enter your Username">
      </ion-input>
      <ion-button expand="block" class="ion-padding-vertical">Send </ion-button>
    </div>
  </div>
</ion-content>