/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./theme/variables.scss);


html.md {
    --ion-default-font: "Poppins", "Roboto", "Helvetica Neue", sans-serif;
}

.shadow-none {
    --box-shadow: none !important;
    box-shadow: none !important
}

.error-text {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--error-red);
}

.sky {
    color: var(--sky) !important;
}

.text-gray {
    color: var(--text-gray) !important;
}



.ion-flex {
    display: flex;
}

.ion-margin-0 {
    margin: 0;
}

ion-card {
    border-radius: 10px !important;
    margin-bottom: 16px !important;
    box-shadow: 0px 1px 14px 0px #00000012 !important;
}

// btns
.success {
    --background: var(--success);
    --border-radius: 50px;
    text-transform: capitalize;

    span {
        padding: 0.5rem;
    }
}

.primary {
    --background: var(--primary-btn);
    --border-radius: 50px;
    text-transform: capitalize;

    span {
        padding: 0.5rem;
    }
}

.danger {
    --background: var(--danger);
    --border-radius: 50px;
    text-transform: capitalize;

    span {
        padding: 0.5rem;
    }
}

.warning {
    --background: var(--warning);
    --border-radius: 50px;
    text-transform: capitalize;

    span {
        padding: 0.5rem;
    }
}