<ion-header>
  <ion-toolbar>
    <ion-title>Transaction </ion-title>
    <ion-button slot="end" color="none" class="shadow-none" (click)="close()">
      <ion-icon name="close" color="dark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction-content">
  <!-- <p style="text-align: center; font-size: 24px; margin: 1rem 0;">Transaction Details</p> -->
  <div class="transaction-heading">
    <h1>Transaction Details</h1>
  </div>
  <ion-card class="transaction-card">
    <ion-card-header>
      <ion-item lines="none">
        <ion-label class="header-sec">
          <p class="success"><img src="../../../assets/images/svgs/success.svg" alt=""></p>
          <h2 class="amount">Rs {{userpaymentDetails.amount}}</h2>
          <p>
            {{ userpaymentDetails.type === "credit" ? 'You have successfully added money' : 'You have successfully
            withdraw' }}
          </p>
          <div class="date">
            <p>{{ userpaymentDetails.date | date:'dd MMM yyyy' }}</p>
            <p class="dot">.</p>
            <p>{{ userpaymentDetails.date | date:' HH:mm' }}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content lines="none">
      <ion-item lines="none" class="dashed">
        <ion-label class="photo-container " lines="none">
          <p class="ion-no-margin photo"> <img src="../../../../assets/images/svgs/person.svg" alt="User Photo" /></p>

          <h3>
            {{userpaymentDetails.type==='credit' ? 'Added Rs. ' + userpaymentDetails.amount + ' To ' +
            userpaymentDetails.paidTo : 'Withdraw Rs. ' + userpaymentDetails.amount + ' To ' +
            userpaymentDetails.paidTo}}
          </h3>
        </ion-label>
      </ion-item>


      <ion-item lines="none" class="dashed ion-no-margin">
        <ion-label>
          <h2>Receiver Detail</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>Name</h3>
          <p>{{userpaymentDetails.paidTo}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3> Account Number</h3>
          <p>08385554981</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="dashed">
        <ion-label>
          <h2>Transaction Detail</h2>
        </ion-label>
      </ion-item>


      <ion-item lines="none">
        <ion-label>
          <h3>Note</h3>
          <p>Netflix</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>Transaction ID</h3>
          <p>{{formatID(userpaymentDetails.id)}}</p>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>